[submodule "src/third_party/xarm_ros2"]
	path = src/third_party/xarm_ros2
	url = https://github.com/xArm-Developer/xarm_ros2
	branch = humble
[submodule "src/third_party/OrbbecSDK_ROS2"]
	path = src/third_party/OrbbecSDK_ROS2
	url = https://github.com/orbbec/OrbbecSDK_ROS2
	branch = v2-main
[submodule "src/third_party/serial"]
	path = src/third_party/serial
	url = https://github.com/RoverRobotics-forks/serial-ros2.git
