<?xml version="1.0" ?>
<robot name="kaair" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="mode" default="robot"/>
  <xacro:arg name="hw_spec_file" default="$(find kaair_bringup)/config/robots/kaair_specs_01.yaml"/>
  <xacro:arg name="use_fake_hardware" default="false"/>

  <xacro:property name="hw_specs" value="${xacro.load_yaml('$(arg hw_spec_file)')}"/>

  <xacro:if value="${'$(arg mode)' == 'robot' or '$(arg mode)' == 'lift'}">
    <xacro:include filename="$(find kaair_description)/urdf/lift/lift.urdf.xacro"/>
    <xacro:include filename="$(find kaair_description)/urdf/lift/lift.ros2_control.xacro"/>
    <xacro:lift_module 
      min_h="${hw_specs['lift']['min_h']}" 
      max_h="${hw_specs['lift']['max_h']}" 
    />
    <xacro:lift_ros2_control
      name="LiftHardware" 
      spec="${hw_specs['lift']}"
      use_fake_hardware="$(arg use_fake_hardware)"
    />
  </xacro:if>

  <xacro:if value="${'$(arg mode)' == 'robot' or '$(arg mode)' == 'head'}">
    <xacro:include filename="$(find kaair_description)/urdf/head/head.urdf.xacro"/>
    <xacro:include filename="$(find kaair_description)/urdf/head/head.ros2_control.xacro"/>

    <xacro:head_ros2_control 
      name="HeadHardware" 
      spec="${hw_specs['head']}"
      use_fake_hardware="$(arg use_fake_hardware)"
    />
    <xacro:if value="${'$(arg mode)' == 'robot'}">
      <joint name="lift_to_head_fix_joint" type="fixed">
        <origin xyz="0.0 0.0 0.859" rpy="0 0 0"/>
        <parent link="lift_base_link"/>
        <child link="head_base"/>
      </joint>
    </xacro:if>
    
  </xacro:if>

  <xacro:if value="${'$(arg mode)' == 'robot' or '$(arg mode)' == 'arm'}">
    <xacro:unless value="${'$(arg mode)' == 'robot'}">
      <link name="arm_base"/>
    </xacro:unless>
    
    <xacro:property name="arm_hw_plugin" value="uf_robot_hardware/UFRobotSystemHardware"/>
    
    <xacro:if value="$(arg use_fake_hardware)">
      <xacro:property name="arm_hw_plugin" value="uf_robot_hardware/UFRobotFakeSystemHardware"/>
    </xacro:if>

    <xacro:include filename="$(find xarm_description)/urdf/xarm_device_macro.xacro"/>

    <xacro:xarm_device 
      prefix=""
      hw_ns="xarm"
      dof="7"
      add_gripper="false"
      attach_to="arm_base"
      effort_control="true" 
      velocity_control="true"
      robot_ip="${hw_specs['arm']['robot_ip']}"
      ros2_control_plugin="${arm_hw_plugin}"
    />
  
  </xacro:if>

  <xacro:if value="${'$(arg mode)' == 'robot' or '$(arg mode)' == 'tool'}">
    <xacro:include filename="$(find kaair_description)/urdf/tool/tool.urdf.xacro"/>
    <xacro:include filename="$(find kaair_description)/urdf/tool/tool_ros2_control.xacro"/>

    <xacro:if value="${'$(arg mode)' == 'robot'}">
      <joint name="arm_to_tool_fix_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <parent link="link_eef"/>
        <child link="hand_base_link"/>
      </joint>
    </xacro:if>

    <xacro:tool_ros2_control 
      name="ToolHardware" 
      spec="${hw_specs['tool']}"
      use_fake_hardware="$(arg use_fake_hardware)"
    />

  </xacro:if>

</robot>