<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="lift_ros2_control" params="name spec use_fake_hardware:=false">
    <ros2_control name="${name}" type="system">
      <hardware>
        <param name="min_height">${spec['min_h']}</param>
        <param name="max_height">${spec['max_h']}</param>
        
        <xacro:if value="${use_fake_hardware}">
          <plugin>mock_components/GenericSystem</plugin>
          <param name="calculate_dynamics">true</param>
        </xacro:if>
        
        <xacro:unless value="${use_fake_hardware}">
          <plugin>kaair_driver/LiftHwInterface</plugin>
          <param name="usb_port">${spec['usb_port']}</param>
          <param name="baud_rate">${spec['baud_rate']}</param>
          <param name="offset_position">${spec['offset_position']}</param>
          <param name="encoder_ppr">${spec['encoder_ppr']}</param>
          <param name="lead_pitch">${spec['lead_pitch']}</param>
          <param name="reduction_ratio">${spec['reduction_ratio']}</param>
          <param name="max_rpm">${spec['max_rpm']}</param>
          <param name="limit_direction">${spec['limit_direction']}</param>
          <param name="motor_direction">${spec['motor_direction']}</param>
          <param name="motor_id">${spec['motor_id']}</param>
        </xacro:unless> </hardware>

      <joint name="lift_joint">
          <command_interface name="position">
          </command_interface>
          
          <command_interface name="velocity"/>

          <state_interface name="position">
            <param name="initial_value">0.2</param>
          </state_interface>
          
          <state_interface name="velocity">
            <param name="initial_value">0.0</param>
          </state_interface>
        </joint>

    </ros2_control>
  </xacro:macro>
</robot>